<li class="form-inline">
  <input type="text" class="name form-control" placeholder="Text input" />
  <select name="name" class="type form-control">
    <option value="primary_key">primary_key</option>
    <option value="integer">integer</option>
    <option value="string">string</option>
    <option value="text">text</option>
    <option value="float">float</option>
    <option value="decimal">decimal</option>
    <option value="datetime">datetime</option>
    <option value="time">time</option>
    <option value="date">date</option>
    <option value="binary">binary</option>
    <option value="boolean">boolean</option>
    <option value="references">references</option>
  </select>
  <button type="button" class="plus btn btn-default">+</button>
  <button type="button" class="minous btn btn-default">-</button>
</li>
